body{
  background-color: rgb(206,159,255)
}

main {
  width: 600px;
  margin: 0 auto;
  background-color: rgb(106, 204, 137);
  padding: 20px;
  border-radius: 5px;
}

.table{
  padding: 5px 15px 30px 15px;
}

#title{
  background-color: rgb(255, 121, 149);
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

#list_header{
  background-color: rgb(176, 193, 75);
  width: 300px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 13px 0;
}

#list_of_lists{
  background-color: rgb(135, 93, 178);
  width: 600px;
  text-align: center;
}

span{
  color: rgb(10, 103, 53)
}

img.back_button{
  width: 75px;
  height: 75px;
  padding: 15px
}

li{
  list-style-type: none;
}

.homepage{
  padding-top: 5px;
  font-size: 10px;
}

h4{
  text-align: left;
}

.panel{
  text-align: center;
}

#searchpage{
  margin: 4px;
}

.list_items{
  font-size: 20px;
  color: rgb(0,0,0)
  }
