
  <h1>Welcome to <span>TODO</span>RO</h1>

  <h2>these are your lists:</h2>

  <ul>
    <% @lists.each do |list| %>
    <li>
      <a href="http://localhost:4567/lists/<%= list.name %>"> <%= list.name %></a>
    </li>
    <% end %>
  </ul>

  <form action="/lists" method="post">
    <input type="text" name="list[name]" value="" placeholder="groceries">
    <input class="btn btn-primary" type="submit" name="submit_button" value="Submit">
  </form>


  <a href="http://localhost:4567/next">
    <img src="http://vignette2.wikia.nocookie.net/animaljam/images/3/35/Totoro_by_noodlecutie123-d3j76oj.png/revision/latest?cb=20150228122848" >
  </a>

  <form action="/search?q=" method="get">
    <input type="" name="q" value="" placeholder="orangatan">
    <input class="btn btn-success"type="submit" name="submit_button" value="Search">
  </form>
<aside class="">
</aside>
